*Zone.Identifier


# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Node modules
node_modules/

# Packages lock
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build output
dist/
build/
out/
out-tsc/
out-tsc-*

# TypeScript cache
*.tsbuildinfo

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local


coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Deployments
## Uncomment if you want to save deployments
deployments/*
!deployments/.gitkeep

# IDE
.idea


target
dist
logs
public
.cache
.vscode
.DS_Store
.idea
.next
yarn-error.log
npm-debug.log